body {
  background: url(images/blockNotasTres.jpg);
  background-size: 100% ;
  zoom: 75%;
  

}

.titulo {
  padding: 15px;
  font-size: 77px;
  width: 30vw;
  margin: auto;
  font-family: "Short Stack";
  color: white;

}

.btn {
  border: 0;
  color: white;
  font-weight: "Short Stack";
  background-color: darkblue;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0.5em;
  
  
}


.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 15%;
  height: 50px;
  margin: auto;
}
.letras-probadas{
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  padding: 0.5em;
  width: 15%;
  height: 50px;
  font-family: "Short Stack";
  font-size: large;
  margin-left: 45%;


}

